.App {
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-evenly;
}

.menu-item {
  border: red 1px solid;
  width: 20%;
  padding: 10px 0;
  background-color: pink;
  cursor: pointer;
}

.cocktail-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cocktail {
  display: flex;
  flex-direction: column;
}

.cocktail-link {
  cursor: pointer;
}

.image-big {
  width: 50%;
  margin: 0 auto;
}

.upload-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.upload-cocktail-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.upload-cocktail-details input[type="submit"] {
  width: 120px;
}

.search-cocktail {
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 50%;
}
